@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');

:root {
    box-sizing: border-box;
    --main-text-color: black;
    --main-font-size: 1rem;
    --main-padding: 1rem;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

    /* For debug purposes */
    /* border: solid 1px red; */
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

a {
    color: var(--main-text-color);
    font-weight: bold;
    text-decoration: none;
}

button {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: var(--main-font-size);

    padding: 0.5rem 1rem;

    background-color:rgb(78, 130, 172);
    border-radius: 10px;
    border: none
}

.wrapper {
    width: 60%;
    min-height: 100dvh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.page-header,
.page-content,
.page-footer {
    padding: var(--main-padding) 2rem;
}

.page-header,
.page-content {
    padding-bottom: 0;
}

.page-heading {
    margin-bottom: 1rem;
}

.main-nav {

}

.main-nav > ul {
    display: flex;
    
    list-style: none;
}

.main-nav li {
    flex: 1;
    padding: var(--main-padding);

    text-align: center;
}

.page-footer {
    margin-top: auto;
}

.secondary-nav {

}

.secondary-nav > ul {
    display: flex;
    justify-content: center;
    
    list-style: none;
}

.secondary-nav li {
    padding: var(--main-padding) 2rem;
    text-align: center;
}

.page-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--main-padding);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--article-gap);
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--article-gap);
}

.article,
.main-article,
.side-article {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.article-img {
    width: 60%;
}

.main-article-img {
    width: 100%;
}

.side-article {

}

.side-article-img {
    width: 100%;
}

.article-description {

}

.article-footer {

}

.article-author {

}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: var(--main-padding);

    width: 600px;
}

.contact-form button {
    place-self: center;
}

.form-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.form-item input,
.form-item select,
.form-item textarea {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1rem;

    padding: 0.2rem;
}

#message {
    resize: none;

    font-size: 1rem;
}

#subscribe-me {
    justify-self: start;
    align-self: center;
}

.form-item > label {

}
