@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');

:root {
    box-sizing: border-box;
    --main-text-color: var(--off-black);
    --main-font-size: 1rem;
    --main-padding: 1rem;
    --article-gap: 2rem;

    --off-white: #efefef;
    --light-grey: #e0e0e0;
    --mid-grey: #898989;
    --dark-grey: #262626;
    --off-black: #111111;

    --blue: #1556b2;
    --light-pink: #d31f6a;
    --pink: #b21556;
    --dark-pink: #6b0c2c;
    --green: #56b215;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

    /* For debug purposes */
    /* border: solid 1px red; */
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--main-text-color);
    background-color: var(--mid-grey);

    overflow: scroll;
}

a {
    color: var(--main-text-color);
    font-weight: bold;
    text-decoration: none;
}

p {
    margin-bottom: var(--main-padding);
}

button {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: var(--main-font-size);
    color: var(--off-white);

    padding: 0.5rem 1rem;

    background-color:var(--pink);
    border-radius: 10px;
    border: none
}

.wrapper {
    width: 60%;
    min-height: 100dvh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    background-color: var(--light-grey);
}

.page-header,
.page-content {
    padding: var(--main-padding) 2rem;
}

.page-footer {
    padding-top: var(--main-padding);
}

.page-header,
.page-content {
    padding-bottom: 0;
}

.page-heading {
    margin-bottom: 1rem;
}

.page-heading * {
    font-size: 3rem;
    color: var(--pink);
    letter-spacing: -.2rem;
}

.main-nav, 
.secondary-nav {
    background-color: var(--pink);
}

.main-nav {
    position: sticky;
    top: 0;
}

.main-nav > ul {
    display: flex;
    
    list-style: none;
}

.secondary-nav > ul {
    display: flex;
    justify-content: center;
    
    list-style: none;
}

.main-nav li,
.secondary-nav li {
    text-align: center;
    cursor: pointer;
    user-select: none;

    transition: all 100ms;
}

.main-nav li:hover,
.secondary-nav li:hover {
    background-color: var(--light-pink);
}

.main-nav li:active,
.secondary-nav li:active {
    background-color: var(--dark-pink);
}

.main-nav li {
    flex: 1;
    padding: var(--main-padding) 0; 
}

.secondary-nav li {
    padding: var(--main-padding) 2rem;
}

.main-nav a,
.secondary-nav a {
    color: var(--light-grey);
}

.page-footer {
    margin-top: auto;
}

.page-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--main-padding);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--article-gap);
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--article-gap);
}

.article,
.main-article,
.side-article {
    background-color: var(--off-white);
    border-radius: 25px;

    box-shadow: 5px 5px 10px 10px #6161610e;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.article p:last-of-type,
.main-article p:last-of-type,
.side-article p:last-of-type {
    margin-bottom: 0;
}

.article-img,
.main-article-img,
.side-article-img {
    border-radius: 25px 25px 0 0;

    width: 100%;
    max-height: 400px;
}

.article-img,
.side-article-img {
    height: 200px;
}

.article-text-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    padding: var(--main-padding);
    padding-top: 0;
}

.article-description {
    font-style: italic;
}

.article-footer {
    font-size: 0.9rem;
}

.article-author {

}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: var(--main-padding);

    width: 600px;
}

.contact-form button {
    place-self: center;
}

.form-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.form-item input,
.form-item select,
.form-item textarea {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1rem;

    padding: 0.2rem;
}

#message {
    resize: none;

    font-size: 1rem;
}

#subscribe-me {
    justify-self: start;
    align-self: center;
}

.form-item > label {

}
