@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');

:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 60%;
    min-height: 100dvh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.page-heading {

}

.main-nav {

}

.main-nav > ul {

}

.secondary-nav {

}

.secondary-nav > ul {

}


.page-content {

}

.content {

}

.article {

}

.main-article {

}

.article-img {

}

.main-article-img {

}

.article-description {

}

.article-footer {

}

.article-author {

}
